---
import Layout from "../../layouts/Layout.astro";

interface Flyer {
    src: string;
    title: string;
}

const flyer: Flyer[] = [
    {  
        src: '2024_wise.jpg',
        title: 'Wintersemester 2024/25',
    },
    {
        src: '2024_sose.png',
        title: 'Sommersemester 2024',
    },
    {
        src: '2023_wise.png',
        title: 'Wintersemester 2023/24',
    },
    {
        src: '2023_sose.png',
        title: 'Sommersemester 2023',
    },
]

---

<Layout title="Flyer">
    <main>
        <h4>Hier kannst du unsere Flyer herunterladen und teilen</h4>

        <ul class="flex justify-center flex-wrap list-none">
            {
                flyer.map((item) => (
                    <li>
                        <a href=`/flyer/${item.src}`><img width="250" class="mb-1 mt-0" src=`/flyer/${item.src}` alt={item.src}></a>
                        <b>{item.title}</b>
                    </li>
                ))
            }
        </ul>
    </main>
</Layout>

<dialog class="h-fit md:h-full rounded-sm p-0 shadow-2xl">
    <button class="absolute top-3 right-2 size-8 rounded-full bg-white drop-shadow-lg hover:drop-shadow-2xl duration-500" autofocus>X</button>
    <img class="h-full object-scale-down" src="" alt="js-disabled">
</dialog>

<style>
    li {
        @apply hover:drop-shadow-xl drop-shadow-sm duration-500;
    }

    img {
        @apply rounded-sm;
    }

    dialog::backdrop {
        @apply bg-black opacity-60;
    }
</style>

<script>
    const dialog = document.querySelector("dialog");
    const dialogImg = document.querySelector<HTMLImageElement>("dialog img");
    document.querySelector("dialog button")?.addEventListener('click', () => {
        dialog.close();
    });

    dialog?.addEventListener('click', () => {
        dialog.close();
    });

    dialogImg?.addEventListener('click', (event) => {
        event.stopPropagation();
        event.stopImmediatePropagation();
    })

    document.querySelectorAll("li a:has(img)").forEach((a) => {
        a.addEventListener('click', (event) => {
            event.stopPropagation();
            event.stopImmediatePropagation();
            dialog?.showModal();
            dialogImg.src = a.children.item(0).src;
            dialogImg.alt = a.children.item(0).alt;
        });
        a.href = "javascript: void(0)";
    });
</script>
