---
import Layout from "../layouts/Layout.astro";

import { PROGRAM } from "../program";
---

<Layout title="Programm">
    <main>
        <h2>Aktuelles Programm</h2>

        <div class="bg-orange-100 border-l-2 border-orange-400 p-4 shadow grid md:grid-cols-[auto_1fr] grid-rows-[auto_1fr] md:gap-2 gap-1">
            <b class="text-2xl text-orange-400 size-9 border-2 border-orange-400 rounded-full text-center">!</b>
            <p class="not-prose">
                Aus lizenztechnischen Gründen dürfen wir die Filmtitel nicht mehr
                öffentlich bekanntgeben. Wir arbeiten aber gerade daran, dass es
                einen E-Mail-Verteiler oder eine interne Moodleseite geben wird, auf
                der ihr die genauen Infos bekommen könnt.
            </p>
        </div>

        <p class="pl-4"> 
            Hier sind aber eine kleine Beschreibung und die Termine zu unseren ausgewählten
            Filmen.
        </p>

        <table id="program-table" class="table-auto">
            <thead>
                <tr class="border-b-orange-300 border-b-2">
                    <th class="pl-1">Datum</th>
                    <th>Titel</th>
                    <th class="pr-1">Anmerkungen</th>
                </tr>
            </thead>
            <tbody>
                {
                    PROGRAM.map((item) => (
                        <tr id={item.date}>
                            <td class="pl-1">{item.viewDate}</td>
                            <td>{item.name}</td>
                            <td class="pr-1">
                                {item.originalVoice && <b>OmU</b>}{item.originalVoice && item.comment && ", "}{item.comment}
                            </td>
                        </tr>
                    ))
                }
            </tbody>
        </table>

        <div class="flex">
            <ul
                class="w-min list-none place-self-center border-t-2 border-orange-400 shadow py-2 px-8 mx-auto"
            >
                <li>Eintritt: Frei</li>
                <li>Veranstaltungsort:&nbsp;AZ1.50</li>
                <li>Einlass: 19:30 Uhr</li>
                <li>Start: 20:00 Uhr</li>
            </ul>
        </div>
    </main>
</Layout>

<script>
    const now = new Date();
    const table = document.getElementById("program-table");

    Array.from(table!.querySelectorAll("tr")).forEach((row) => {
        const date = new Date(Date.parse(row.id) + 86400000);

        if (date < now) {
            row.classList.add("text-slate-300");
        } else if (date == now) {
            row.classList.add("bg-orange-300");
        }
    });
</script>
