---
const today = new Date();
---

<footer class="bg-gradient-to-b from-gray-300 px-4 pb-10 pt-8 text-center">
    &copy; {today.getFullYear()} IG Film.
    <div class="mt-1 flex justify-center gap-4">
        <a
            aria-label="Folge uns auf Instagram"
            href="https://www.instagram.com/igfilm_th.rosenheim/"
            target="_blank"
        >
            <img
                src="/logos/instagram.svg"
                aria-hidden="true"
                width="32"
                height="32"
            />
        </a>
        <a
            aria-label="Trete unserer WhatsApp Gruppe bei"
            href="https://chat.whatsapp.com/FCcNwfVXWMjB187BWlTdEc"
            target="_blank"
        >
            <img
                src="/logos/whatsapp.svg"
                aria-hidden="true"
                width="32"
                height="32"
            />
        </a>
    </div>
</footer>
