---
import HeaderLink from "./HeaderLink.astro";
---

<nav class="p-3 pb-2 shadow-md">
    <ul class="flex list-none justify-center">
        <li class="mr-auto items-center gap-2 hidden sm:flex">
            <img
                src="/igfilmlogo.svg"
                aria-hidden="true"
                width="32"
                height="32"
            /><h2>IG Film</h2>
        </li>
        <!-- it works ¯\_(ツ)_/¯ -->
        <li class="pb-2">
            <HeaderLink href="/">Programm</HeaderLink>
        </li>
        <li><HeaderLink href="/flyer">Flyer</HeaderLink></li>
        <li><HeaderLink href="/who-are-we">Wer sind wir?</HeaderLink></li>
        <li class="ml-auto gap-4 hidden sm:inline-flex">
            <a
                aria-label="Folge uns auf Instagram"
                href="https://www.instagram.com/igfilm_th.rosenheim/"
                target="_blank"
            >
                <img
                    src="/logos/instagram.svg"
                    aria-hidden="true"
                    width="32"
                    height="32"
                />
            </a>
            <a
                aria-label="Trete unserer WhatsApp Gruppe bei"
                href="https://chat.whatsapp.com/FCcNwfVXWMjB187BWlTdEc"
                target="_blank"
            >
                <img
                    src="/logos/whatsapp.svg"
                    aria-hidden="true"
                    width="32"
                    height="32"
                />
            </a>
        </li>
    </ul>
</nav>
