---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Wer sind wir?">
    <main>
        <h2>Wer und was ist IG-Film?</h2>
        <p>
            IG heißt Interessensgemeinschaft und wir in der IG-Film sind
            Studenten aus verschiedensten Studiengängen und Semestern, im
            Bachelor und im Master. Was uns verbindet, ist die Motivation mit
            cooler Technik einen Vorlesungssaal in einen Kinosaal zu verwandeln,
            um coole Filme aus verschiedenen Genres in verschiedenen Sprachen
            (mit Untertiteln ;) ) zu zeigen.
        </p>
        <p>
            Die IG-Film lebt von uns Studenten. Deshalb sind wir auch zu jeder
            Zeit auf der Suche nach neue IG-Filmlern, die Lust dazu haben, bei
            und mitzumachen. Schreibe uns einfach auf Instagram oder sprich uns
            einfach an, wenn wir einen Film zeigen.
        </p>
        <p>
            Wenn du magst, folge uns auch auf WhatsApp. Dort bekommst du
            regelmäßig Informationen zu unseren aktuellen Veranstaltungen.
        </p>
        <p>Wir freuen uns auf dich!</p>
    </main>
</Layout>
