---
import Foot from "../components/Foot.astro";
import Head from "../components/Head.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="IG-Film Website" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/igfilmlogo.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="h-screen grid grid-cols-1 grid-rows-[auto_1fr]">
        <Head />
		<div class="overflow-scroll grid grid-cols-1 gird-rows-[1fr_auto]">
			<div class="mx-auto prose px-2">
				<slot />
			</div>
			<Foot />
		</div>
    </body>
</html>
